html,body {
  background: linear-gradient(62.81deg, #92C367 -5.35%, #D1F36C 100%);
}

.App {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0 48px 0;
  margin-bottom: 32px;
  border-top: 1px solid #92C367;
  border-bottom: 1px solid #92C367;
}

.input-container {
  width: 270px;
  margin-right: 32px;
}

.age-input {
  /* outline: #527532; */
  background: transparent;
  border: 3px solid #92C367;
  color: #6E2775;
  height: 38px;
  padding: 10px 8px 10px 8px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  margin: 0;
}

.age-input::placeholder {
  color: hsl(0,0%,50%);
}

header {
  margin-bottom: 32px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  font-size: 48px;
  font-weight: 700;
  color: #527532;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
}

.header_local-block {
  position: relative;
  margin-right: 32px;
}

.header_aside-button {
}

.header_aside-line {
  width: 24px;
  height: 3px;
  background: #527532;
  position: relative;
}

.header_aside-line::after {
  content: '';
  width: 24px;
  height: 3px;
  background: #527532;
  position: absolute;
  top: 8px;
}

.header_aside-line::before {
  content: '';
  width: 24px;
  height: 3px;
  background: #527532;
  position: absolute;
  top: -8px;
}

.aside-wrapper {
  width: 100%;
  height: 100%;
  background:  rgba(82, 117, 50, 0);
  position: fixed;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  transition: background .3s ease-out .25s;
}

.aside-wrapper--visible {
  background:  rgba(82, 117, 50, 0.4);
  opacity: 1;
  visibility: visible;
}

.aside {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(62.81deg, #92C367 -5.35%, #D1F36C 100%);
  transform: translateX(-100%);
  transition: transform .3s ease-out .25s;
  padding: 24px 16px 0;
}

.aside--visible {
  transform: translateX(0);
}

.aside__lang-wrapper {
  margin-top: 32px;
}

.aside__lang-wrapper * + * {
  padding-left: 8px;
}

.aside__lang-button {
  display: inline;
  color: #92C367;
  font-size: 18px;
  line-height: 24px;
}

.aside__lang-button--active {
  color: #527532;
}

.aside__share-buttons * + *{
  padding-left: 8px;
}

.header_right-block {
  display: flex;
}

.header_local-button {
  color: #92C367;
  font-size: 18px;
  line-height: 24px;
}

.header_local-popup {
  position: absolute;
  background: #CDFFA1;
  padding: 16px;
  right: 0;
  border-radius: 3px;
}

.header_local-item {
  color: #92C367;
  cursor: pointer;
}

.header_local-item--active {
  color: #527532;
}

.header_local-button:hover {
  color: #527532;
  cursor: pointer;
}

.input-label {
  padding-bottom: 8px;
  color: #6E2775;
}

.life-block {
  color: #6E2775;
}

.life-block_wrapper {
  display: flex;
}

.life-block_icon {
  width: 40px;
}

.life-block_amount {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border: 3px solid #92C367;
  border-radius: 8px;
  box-sizing: border-box;
}

.cards-row {
  margin-bottom: 32px;
}

.cards-title {
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #527532;
  padding-bottom: 8px;
}

.cards-title--purple {
  color: #B967C2;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background: #CDFFA1;
  padding: 24px;
  display: inline-flex;
  align-self: baseline;
  border-radius: 8px;
  box-shadow: -5px 10px 15px 0px #6D8C51;
}

.card_icon {
  height: 60px;
  margin-right: 32px;
}

.card_amount {
  height: 60px;
  color: #6E2775;
  min-width: 60px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 3px solid #B967C2;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
}

.card_amount--green {
  border: 3px solid #527532;
}

@media (max-width: 567px) {
  header {
    padding: 0 16px;
    margin-bottom: 24px;
    padding-top: 24px;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header_title {
    font-size: 24px;
    line-height: 32px;
    margin-left: 16px;
  }

  .input-container {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .aside__share-buttons {
    margin-top: 32px;
  }

  .life-container {
    padding: 0 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
  }

  .filter-container {
    flex-direction: column;
    padding: 16px;
    margin-bottom: 0;
    border: none;
  }

  .country-input {
    margin-bottom: 16px;
  }

  .input-label {
    padding-bottom: 4px;
  }

  .life-block {
    width: 100%;
  }

  .life-block_amount {
    /* width: 100%; */
    font-weight: bold;
  }

  .cards-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .cards-rows {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .cards-title {
    font-size: 16px;
    line-height: 21px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cards-row {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  
  .cards-row--right {
    margin-left: 16px;
  }

  .cards {
    flex-direction: column;
    align-items: stretch;
  }

  .card {
    padding: 16px;
    margin-bottom: 16px;
    align-self: normal;
    display: flex;
    justify-content: center;
    box-shadow: -3px 5px 15px 0px #6D8C51;
  }

  .card_amount {
    height: 40px;
    min-width: 40px;
  }
  .card_icon {
    height: 40px;
    margin-right: 16px;
  }
}
